body {
    margin: 0;
    font-family:Anta;
    color: white;

}

.container {
    margin-top: 50px;
    width: 100vw;
    height: 70vh;
}
h4 {
    display: flex;
    align-items: center;
}
.see {
    color:black;
    margin-left:6px;
    width: 25px;
    height: 30px;
    border-radius: 4px;
    background-color: aliceblue;
    display: flex;
    justify-content: center;
    align-items: center;
}
.display {
    width: 91%;
    height: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
    margin: auto;
    background-color: #9B4444;
    border-radius: 30px 30px 0 0;
}
.wrap {
    width: 91%;
    height: 70%;
    margin: auto;
    display: flex;
    justify-content: center;
    
}
.numbers {
    width: 100%;
    height: 100%;
    background-color: #C68484;
    padding-bottom:13px;
    border-radius: 0 0 30px 30px;
}
button {
    margin-top: 20px;
    margin-left: 10px;
    width: 50px;
    height: 50px;
    background-color: white;
    font-family:Anta;
    border-radius: 50%;
    border: 1.5px solid rgb(3, 7, 245);
    cursor: pointer;
    font-size:medium;
}
button:active {

    opacity: 60%;
    
}
.timer{
    color: rgb(8, 189, 8);
}
